{% extends "blog/base.html"%}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ report.author }}</a>
            <small class="text-muted">{{ report.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">Hasil Laporan Penilaian</h2>
        <table>
            <tr>
                <th>No</th>
                <th>Elemen</th>
                <th>Nilai</th>
                <th>Keterangan</th>
                <th>Rekomendasi</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Kebijakan sistem manajemen biorisiko</td>
                <td>{{ report.nilai_no_1 }}</td>
                <td>{{ report.keterangan_kebijakan_sistem_manajemen_biorisiko }}</td>
                <td>{{ report.rekomendasi_kebijakan_sistem_manajemen_biorisiko }}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tujuan dan program manajemen biorisiko (digabung dengan langkah pencegahan)</td>
                <td>{{ report.nilai_no_2 }}</td>
                <td>{{ report.keterangan_tujuan_dan_program_manajemen_biorisiko }}</td>
                <td>{{ report.rekomendasi_tujuan_dan_program_manajemen_biorisiko }}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tanggung jawab dan wewenang</td>
                <td>{{ report.nilai_no_3 }}</td>
                <td>{{ report.keterangan_tanggung_jawab_dan_wewenang }}</td>
                <td>{{ report.rekomendasi_tanggung_jawab_dan_wewenang }}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Pencatatan, dokumen dan pengendalian dokumen</td>
                <td>{{ report.nilai_no_4 }}</td>
                <td>{{ report.keterangan_pencatatan_dokumen_dan_pengendalian_dokumen }}</td>
                <td>{{ report.rekomendasi_pencatatan_dokumen_dan_pengendalian_dokumen }}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Perubahan terkait manajemen biorisiko</td>
                <td>{{ report.nilai_no_5 }}</td>
                <td>{{ report.keterangan_perubahan_terkait_manajemen_biorisiko }}</td>
                <td>{{ report.rekomendasi_perubahan_terkait_manajemen_biorisiko }}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Komunikasi dan konsultasi</td>
                <td>{{ report.nilai_no_6 }}</td>
                <td>{{ report.keterangan_komunikasi_dan_konsultasi }}</td>
                <td>{{ report.rekomendasi_komunikasi_dan_konsultasi }}</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Perencanaan dan program kerja</td>
                <td>{{ report.nilai_no_7 }}</td>
                <td>{{ report.keterangan_perencanaan_dan_program_kerja }}</td>
                <td>{{ report.rekomendasi_perencanaan_dan_program_kerja }}</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Persyaratan legal (aturan/izin)</td>
                <td>{{ report.nilai_no_8 }}</td>
                <td>{{ report.keterangan_persyaratan_legal_aturan_atau_izin }}</td>
                <td>{{ report.rekomendasi_persyaratan_legal_aturan_atau_izin }}</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Inspeksi dan audit</td>
                <td>{{ report.nilai_no_9 }}</td>
                <td>{{ report.keterangan_inspeksi_dan_audit }}</td>
                <td>{{ report.rekomendasi_inspeksi_dan_audit }}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Pengendalian ketidaksesuaian dan perbaikan</td>
                <td>{{ report.nilai_no_10 }}</td>
                <td>{{ report.keterangan_pengendalian_ketidaksesuaian_dan_perbaikan }}</td>
                <td>{{ report.rekomendasi_pengendalian_ketidaksesuaian_dan_perbaikan }}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Pengembangan berkelanjutan</td>
                <td>{{ report.nilai_no_11 }}</td>
                <td>{{ report.keterangan_pengembangan_berkelanjutan }}</td>
                <td>{{ report.rekomendasi_pengembangan_berkelanjutan }}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Kontraktor and suplier (purchasing)</td>
                <td>{{ report.nilai_no_12 }}</td>
                <td>{{ report.keterangan_kontraktor_dan_suplier_purchasing }}</td>
                <td>{{ report.rekomendasi_kontraktor_dan_suplier_purchasing }}</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Review dan perbaikan manajemen biorisiko</td>
                <td>{{ report.nilai_no_13 }}</td>
                <td>{{ report.keterangan_review_dan_perbaikan_manajemen_biorisiko }}</td>
                <td>{{ report.rekomendasi_review_dan_perbaikan_manajemen_biorisiko }}</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Proses, metode dan prosedur</td>
                <td>{{ report.nilai_no_14 }}</td>
                <td>{{ report.keterangan_proses_metode_dan_prosedur }}</td>
                <td>{{ report.rekomendasi_proses_metode_dan_prosedur }}</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Ruang lingkup dan penjadwalan</td>
                <td>{{ report.nilai_no_15 }}</td>
                <td>{{ report.keterangan_ruang_lingkup_dan_penjadwalan }}</td>
                <td>{{ report.rekomendasi_ruang_lingkup_dan_penjadwalan }}</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Peran dan tanggung jawab</td>
                <td>{{ report.nilai_no_16 }}</td>
                <td>{{ report.keterangan_peran_dan_tanggung_jawab }}</td>
                <td>{{ report.rekomendasi_peran_dan_tanggung_jawab }}</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Identifikasi hazard</td>
                <td>{{ report.nilai_no_17 }}</td>
                <td>{{ report.keterangan_identifikasi_hazard }}</td>
                <td>{{ report.rekomendasi_identifikasi_hazard }}</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Pengendalian risiko</td>
                <td>{{ report.nilai_no_18 }}</td>
                <td>{{ report.keterangan_pengendalian_risiko }}</td>
                <td>{{ report.rekomendasi_pengendalian_risiko }}</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Inventarisasi, informasi dan pencatatan</td>
                <td>{{ report.nilai_no_19 }}</td>
                <td>{{ report.keterangan_inventarisasi_informasi_dan_pencatatan }}</td>
                <td>{{ report.rekomendasi_inventarisasi_informasi_dan_pencatatan }}</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Penyimpanan bahan biologik dan bahan berbahaya lainnya</td>
                <td>{{ report.nilai_no_20 }}</td>
                <td>{{ report.keterangan_penyimpanan_bahan_biologik_dan_bahan_berbahaya_lainnya }}</td>
                <td>{{ report.rekomendasi_penyimpanan_bahan_biologik_dan_bahan_berbahaya_lainnya }}</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Transfer bahan biologik dan bahan berbahaya lainnya</td>
                <td>{{ report.nilai_no_21 }}</td>
                <td>{{ report.keterangan_transfer_bahan_biologik_dan_bahan_berbahaya_lainnya }}</td>
                <td>{{ report.rekomendasi_transfer_bahan_biologik_dan_bahan_berbahaya_lainnya }}</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Pengendalian dan monitoring</td>
                <td>{{ report.nilai_no_22 }}</td>
                <td>{{ report.keterangan_pengendalian_dan_monitoring }}</td>
                <td>{{ report.rekomendasi_pengendalian_dan_monitoring }}</td>
            </tr>
            <tr>
                <td>23</td>
                <td>General safety</td>
                <td>{{ report.nilai_no_23 }}</td>
                <td>{{ report.keterangan_general_safety }}</td>
                <td>{{ report.rekomendasi_general_safety }}</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Rekrutmen, pelatihan dan kompetensi</td>
                <td>{{ report.nilai_no_24 }}</td>
                <td>{{ report.keterangan_rekrutmen_pelatihan_dan_kompetensi }}</td>
                <td>{{ report.rekomendasi_rekrutmen_pelatihan_dan_kompetensi }}</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Suksesi dan eksklusi</td>
                <td>{{ report.nilai_no_25 }}</td>
                <td>{{ report.keterangan_suksesi_dan_eksklusi }}</td>
                <td>{{ report.rekomendasi_suksesi_dan_eksklusi }}</td>
            </tr>
            <tr>
                <td>26</td>
                <td>GMT: Personel</td>
                <td>{{ report.nilai_no_26 }}</td>
                <td>{{ report.keterangan_GMT_personel }}</td>
                <td>{{ report.rekomendasi_GMT_personel }}</td>
            </tr>
            <tr>
                <td>27</td>
                <td>GMT: Peralatan</td>
                <td>{{ report.nilai_no_27 }}</td>
                <td>{{ report.keterangan_GMT_peralatan }}</td>
                <td>{{ report.rekomendasi_GMT_peralatan }}</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Pelabelan</td>
                <td>{{ report.nilai_no_28 }}</td>
                <td>{{ report.keterangan_pelabelan }}</td>
                <td>{{ report.rekomendasi_pelabelan }}</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Pengadaan alat pelindung diri (APD)</td>
                <td>{{ report.nilai_no_29 }}</td>
                <td>{{ report.keterangan_pengadaan_alat_pelindung_diri }}</td>
                <td>{{ report.rekomendasi_pengadaan_alat_pelindung_diri }}</td>
            </tr>
            <tr>
                <td>30</td>
                <td>APD (Personel)</td>
                <td>{{ report.nilai_no_30 }}</td>
                <td>{{ report.keterangan_APD_personel }}</td>
                <td>{{ report.rekomendasi_APD_personel }}</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Pemeliharaan dan dekontaminasi reusable APD</td>
                <td>{{ report.nilai_no_31 }}</td>
                <td>{{ report.keterangan_pemeliharaan_dan_dekontaminasi_reusable_apd }}</td>
                <td>{{ report.rekomendasi_pemeliharaan_dan_dekontaminasi_reusable_apd }}</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Latar belakang SDM</td>
                <td>{{ report.nilai_no_32 }}</td>
                <td>{{ report.keterangan_latar_belakang_sdm }}</td>
                <td>{{ report.rekomendasi_latar_belakang_sdm }}</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Program kesehatan kerja</td>
                <td>{{ report.nilai_no_33 }}</td>
                <td>{{ report.keterangan_program_kesehatan_kerja }}</td>
                <td>{{ report.rekomendasi_program_kesehatan_kerja }}</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Vaksinasi</td>
                <td>{{ report.nilai_no_34 }}</td>
                <td>{{ report.keterangan_vaksinasi }}</td>
                <td>{{ report.rekomendasi_vaksinasi }}</td>
            </tr>
            <tr>
                <td>35</td>
                <td>Kedaruratan medik</td>
                <td>{{ report.nilai_no_35 }}</td>
                <td>{{ report.keterangan_kedaruratan_medik }}</td>
                <td>{{ report.rekomendasi_kedaruratan_medik }}</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Identifikasi, perencanaan, dan respon keadaan darurat</td>
                <td>{{ report.nilai_no_36 }}</td>
                <td>{{ report.keterangan_identifikasi_perencanaan_dan_respon_keadaan_darurat }}</td>
                <td>{{ report.rekomendasi_identifikasi_perencanaan_dan_respon_keadaan_darurat }}</td>
            </tr>
            <tr>
                <td>37</td>
                <td>Simulasi dan pelatihan tanggap darurat</td>
                <td>{{ report.nilai_no_37 }}</td>
                <td>{{ report.keterangan_simulasi_dan_pelatihan_tanggap_darurat }}</td>
                <td>{{ report.rekomendasi_simulasi_dan_pelatihan_tanggap_darurat }}</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Rencana tanggap darurat menghadapi kejadian luar duga (kontingensi)</td>
                <td>{{ report.nilai_no_38 }}</td>
                <td>{{ report.keterangan_rencana_tanggap_darurat_menghadapi_kejadian_luar_duga }}</td>
                <td>{{ report.rekomendasi_rencana_tanggap_darurat_menghadapi_kejadian_luar_duga }}</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Ketersediaan peralatan keselamatan untuk tanggap darurat</td>
                <td>{{ report.nilai_no_39 }}</td>
                <td>{{ report.keterangan_ketersediaan_peralatan_keselamatan_untuk_tanggap_darurat }}</td>
                <td>{{ report.rekomendasi_ketersediaan_peralatan_keselamatan_untuk_tanggap_darurat }}</td>
            </tr>
            <tr>
                <td>40</td>
                <td>Perencanaan, desain dan verifikasi (mencakup commisioning dan decommision-ing)</td>
                <td>{{ report.nilai_no_40 }}</td>
                <td>{{ report.keterangan_perencanaan_desain_dan_verifikasi_mencakup_commissioning_dan_decommisioning }}
                </td>
                <td>{{ report.rekomendasi_perencanaan_desain_dan_verifikasi_mencakup_commissioning_dan_decommisioning }}
                </td>
            </tr>
            <tr>
                <td>41</td>
                <td>Infrastruktur dan operasional</td>
                <td>{{ report.nilai_no_41 }}</td>
                <td>{{ report.keterangan_infrastruktur_dan_operasional }}</td>
                <td>{{ report.rekomendasi_infrastruktur_dan_operasional }}</td>
            </tr>
            <tr>
                <td>42</td>
                <td>Manajemen pemeliharaan</td>
                <td>{{ report.nilai_no_42 }}</td>
                <td>{{ report.keterangan_manajemen_pemeliharaan }}</td>
                <td>{{ report.rekomendasi_manajemen_pemeliharaan }}</td>
            </tr>
            <tr>
                <td>43</td>
                <td>Monitoring peralatan</td>
                <td>{{ report.nilai_no_43 }}</td>
                <td>{{ report.keterangan_monitoring_peralatan }}</td>
                <td>{{ report.rekomendasi_monitoring_peralatan }}</td>
            </tr>
            <tr>
                <td>44</td>
                <td>Kalibrasi</td>
                <td>{{ report.nilai_no_44 }}</td>
                <td>{{ report.keterangan_kalibrasi }}</td>
                <td>{{ report.rekomendasi_kalibrasi }}</td>
            </tr>
            <tr>
                <td>45</td>
                <td>Sertifikasi</td>
                <td>{{ report.nilai_no_45 }}</td>
                <td>{{ report.keterangan_sertifikasi }}</td>
                <td>{{ report.rekomendasi_sertifikasi }}</td>
            </tr>
            <tr>
                <td>46</td>
                <td>Validasi</td>
                <td>{{ report.nilai_no_46 }}</td>
                <td>{{ report.keterangan_validasi }}</td>
                <td>{{ report.rekomendasi_validasi }}</td>
            </tr>
            <tr>
                <td>47</td>
                <td>Pengolahan limbah dan bahan berbahaya (biologi, kimia)</td>
                <td>{{ report.nilai_no_47 }}</td>
                <td>{{ report.keterangan_pengolahan_limbah_dan_bahan_berbahaya_biologi_kimia }}</td>
                <td>{{ report.rekomendasi_pengolahan_limbah_dan_bahan_berbahaya_biologi_kimia }}</td>
            </tr>
            <tr>
                <td>48</td>
                <td>Inaktivasi bahan biologik dan bahan berbahaya lainnya</td>
                <td>{{ report.nilai_no_48 }}</td>
                <td>{{ report.keterangan_inaktivasi_bahan_biologik_dan_bahan_berbahaya_lainnya }}</td>
                <td>{{ report.rekomendasi_inaktivasi_bahan_biologik_dan_bahan_berbahaya_lainnya }}</td>
            </tr>
            <tr>
                <td>49</td>
                <td>Dekontaminasi dan disinfeksi peralatan</td>
                <td>{{ report.nilai_no_49 }}</td>
                <td>{{ report.keterangan_dekontaminasi_dan_disinfeksi_peralatan }}</td>
                <td>{{ report.rekomendasi_dekontaminasi_dan_disinfeksi_peralatan }}</td>
            </tr>
            <tr>
                <td>50</td>
                <td>Prosedur penerimaan dan pengiriman bahan biologik dan bahan berbahaya lainnya</td>
                <td>{{ report.nilai_no_50 }}</td>
                <td>{{ report.keterangan_prosedur_penerimaan_dan_pengiriman_bahan_biologik_dan_bahan_berbahaya_lainnya }}
                </td>
                <td>{{ report.rekomendasi_prosedur_penerimaan_dan_pengiriman_bahan_biologik_dan_bahan_berbahaya_lainnya }}
                </td>
            </tr>
            <tr>
                <td>51</td>
                <td>Keamanan fisik dan pengendalian personel</td>
                <td>{{ report.nilai_no_51 }}</td>
                <td>{{ report.keterangan_keamanan_fisik_dan_pengendalian_personel }}</td>
                <td>{{ report.rekomendasi_keamanan_fisik_dan_pengendalian_personel }}</td>
            </tr>
            <tr>
                <td>52</td>
                <td>Keamanan Informasi</td>
                <td>{{ report.nilai_no_52 }}</td>
                <td>{{ report.keterangan_keamanan_informasi }}</td>
                <td>{{ report.rekomendasi_keamanan_informasi }}</td>
            </tr>
            <tr>
                <td>53</td>
                <td>Pengendalian personel</td>
                <td>{{ report.nilai_no_53 }}</td>
                <td>{{ report.keterangan_pengendalian_personel }}</td>
                <td>{{ report.rekomendasi_pengendalian_personel }}</td>
            </tr>
            <tr>
                <td>54</td>
                <td>Investigasi kecelakaan dan insiden</td>
                <td>{{ report.nilai_no_54 }}</td>
                <td>{{ report.keterangan_investigasi_kecelakaan_dan_insiden }}</td>
                <td>{{ report.rekomendasi_investigasi_kecelakaan_dan_insiden }}</td>
            </tr>
        </table>
        {% if report.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'report-update' report.id %}">Perbaru</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'report-delete' report.id %}">Hapus</a>

        {% endif %}
    </div>
    {% endblock content%}