{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
{% block content %}
<div class="card-header text-center"><a href="#"><img class="logo-img"
            src="{% static 'users/assets/images/indohun.png' %}" alt="logo"></a><span
        class="splash-description">Silahkan masukan informasi anda.</span></div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Ingat
                    Akun Saya</span>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Masuk</button>
        </div>
    </form>
</div>
<div class="card-footer bg-white p-0  ">
    <div class="card-footer-item card-footer-item-bordered">
        <a href="{% url 'register' %}" class="footer-link">Daftar Akun Baru</a></div>
    <div class="card-footer-item card-footer-item-bordered">
        <a href="{% url 'password_reset' %}" class="footer-link">Lupa Akun?</a>
    </div>
</div>
{% endblock content %}
<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->