{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- ============================================================== -->
<!-- forgot password confirmation -->
<!-- ============================================================== -->
{% block content %}
<div class="card-header text-center"><img class="logo-img" src="{% static 'users/assets/images/indohun.png' %}"
        alt="logo"><span class="splash-description">Lupa Akun</span></div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <p>Masukan password anda yang baru</p>
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-block btn-primary btn-xl" type="submit">Ubah Password</button>
        </div>
    </form>
</div>
{% endblock content %}
<!-- ============================================================== -->
<!-- end forgot password confirmation -->
<!-- ============================================================== -->