{% extends "users/base.html" %}
{% load static %}
<!-- ============================================================== -->
<!-- forgot password reset complete -->
<!-- ============================================================== -->
{% block content %}
<div class="card-header text-center"><img class="logo-img" src="{% static 'users/assets/images/indohun.png' %}"
        alt="logo"><span class="splash-description">Password telah diubah</span></div>
<div class="card-footer text-center">
    <span><a href="{% url 'login' %}">Masuk Kembali</a></span>
</div>
{% endblock content %}
<!-- ============================================================== -->
<!-- end forgot password  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->