{% extends "users/base.html" %}
{% load static %}
<!-- ============================================================== -->
<!-- forgot password done -->
<!-- ============================================================== -->
{% block content %}
<div class="card-header text-center"><img class="logo-img" src="{% static 'users/assets/images/indohun.png' %}"
        alt="logo">
    <span class="splash-description">Email verifikasi telah dikirim ke alamat email anda</span>
    <span class="splash-description">Mohon untuk mengklik tautan yang telah kami kirimkan</span>
</div>
<div class="card-footer text-center">
    <span><a href="{% url 'login' %}">Masuk Kembali</a></span>
</div>
{% endblock content %}
<!-- ============================================================== -->
<!-- end forgot password done -->
<!-- ============================================================== -->