{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- ============================================================== -->
<!-- forgot password to be reset -->
<!-- ============================================================== -->
{% block content %}
<div class="card-header text-center"><img class="logo-img" src="{% static 'users/assets/images/indohun.png' %}"
        alt="logo"><span class="splash-description">Lupa Akun</span></div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <p>Masukan alamat akun email anda</p>
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-block btn-primary btn-xl" type="submit">Reset Password</button>
        </div>
    </form>
</div>
<div class="card-footer text-center">
    <span>Belum Memiliki Akun? <a href="{% url 'register' %}">Registrasi</a></span>
</div>
{% endblock content %}
<!-- ============================================================== -->
<!-- end forgot password to be reset -->
<!-- ============================================================== -->