{% load i18n %}{% autoescape off %}
{% trans 'Hi' %} {{ user.get_username }}

{% blocktrans %}Anda telah meminta untuk mengubah password {{ site_name }} akun anda.{% endblocktrans %}
{% trans "Silahkan klik link di bawah untuk mengubah password anda:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Kalau anda tidak merasa meminta untuk merubah password anda silahkan abaikan email ini atau hubungi kami." %}
{% trans "Password reset ini akan expired setelah 20 menit." %}

{% trans "Terima kasih telah memakai website kami!" %}	

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
	
{% endautoescape %}