{% load i18n %}{% autoescape off %}
{% blocktrans %}Anda telah meminta untuk mengubah password anda di {{ site_name }}.{% endblocktrans %}

{% trans "Silahkan klik link di bawah untuk mengganti password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Username anda adalah:' %} {{ user.get_username }}

{% trans "Terima Kasih telah memakai website kami!" %}
	
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
	
{% endautoescape %}